* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
    background-color: #F8E5FF;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#content {
    width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo {
    display: block;
    position: fixed;
    margin: 20px;
}

/* HEADS */

#manVsBot {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#man,
#bot {
    width: 202px;
    height: 202px;
    border: 1px solid #000000;
    border-radius: 13px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
}

#man>div,
#bot>div {

    transform: rotate(-45deg);
}

#man>.headbox>div,
#bot>.headbox>div {
    animation: breathe 3s ease-out infinite;
}

@keyframes breathe {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.man-answer {
    animation: man-answer 0.1s ease-out infinite;
}

@keyframes man-answer {
    0% {
        transform: rotate(17deg);
        scale: 1.2;
    }

    50% {
        transform: rotate(23deg);
        scale: 1.2;
    }

    100% {
        transform: rotate(17deg);
        scale: 1.2;
    }
}

.bot-answer {
    animation: bot-answer 0.1s ease-out infinite;
}

@keyframes bot-answer {
    0% {
        transform: rotate(-17deg);
        scale: 1.2;
    }

    50% {
        transform: rotate(-23deg);
        scale: 1.2;
    }

    100% {
        transform: rotate(-17deg);
        scale: 1.2;
    }
}

#man.manFaceBox>.headbox>div,
.manFaceBox#bot>.headbox>div {
    transform: scale(2) !important;
}

#bot>div img {
    position: relative;
    top: -15px
}

#man .bubble {
    position: absolute;
    top: -77px;
    left: 147px;
}

#bot .bubble {
    position: absolute;
    top: -42px;
    right: 147px;
}


/* TEXT */

#text-prompt {
    display: flex;
    flex-direction: column;

}

#text-prompt .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#text-prompt p {
    text-align: center;
}

/* BUTTONS */


#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    box-sizing: content-box;
    background: #D6CCFF;
    border-width: 2px 2px 10px 2px;
    border-style: solid;
    border-color: #000000;
    border-radius: 36px;
    margin: 0 10px;
}

.button:hover {
    position: relative;
    top: 2px;
    border-width: 2px 2px 9px 2px;
    cursor: pointer;

}

.button:active {
    position: relative;
    top: 6px;
    border-width: 2px 2px 4px 2px;
    cursor: pointer;

}

.button.hand,
.button.hand div {
    width: 157px;
    height: 111px;
    background-position: center center;
    background-repeat: no-repeat;

}

.button.hand:hover div {
    position: relative;
    top: -1px;
    transform: rotate(-7deg);

}

.button.hand:active div {
    position: relative;
    top: -1px;
    transform: rotate(0);

}




.button.hand .paper {
    background-image: url('img/hand-paper.svg');
}

.button.hand .scissors {
    background-image: url('img/hand-scissors.svg');
}

.button.hand .rock {
    background-image: url('img/hand-stone.svg');
}